<!DOCTYPE html>
<html>
<head>
  <title>Tent Base Data Store</title>
  <meta charset='utf-8' />
  <link rel="shortcut icon" href="">
  <link rel="stylesheet" type="text/css" href="static/main.css">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/vuex"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <meta name="viewport" content="width=device-width,
    initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui"
  >

</head>
<body>
  <div id="vapp">
    <div class="main-container">
      <div class="flex-wrap flex-start flex-col">
        <h1>Tenant Base Data Store</h1>
        <display-items class="mt-md"></display-items>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script>
  let mapState = Vuex.mapState
  let mapActions = Vuex.mapActions

  const api = (options) => axios.create({
    ...options,
    baseURL: '',
    headers: { 'Access-Control-Allow-Origin': '*' },
    timeout: 60000,
  })
  const store = new Vuex.Store({
    state: {
      items: []
    },
    actions: {
      /**
      * GET
      * Fetches items from api and commits mutation to vuex store
      */
      async getItems( context ) {
          await api().get('/items').then(function(rsp) {
            context.commit('fetchItems', eval(rsp.data))
          }), function(err) {
            print(err)
          }
      }
    },
    mutations: {
      fetchItems(state, items) {
        state.items = items
      }
    }
  })
  Vue.component('display-items', {
    template: `<div>
      <h2> Existing Items {{ filteredItems.length }} </h2>
      <div>
        <label for="itemsFilter">Filter by key</label>
        <input id="itemsFilter" v-model="keyFilter"> </input>
      </div>
      <div class="items-container" v-if="loaded">
          <div
            class="kv-item"
            v-for="(item, i) in filteredItems"
            :key="i"
          >
            <div class="inner-item flex-wrap flex-between flex-row">
              <div class="item-data">
                KEY: {{ item.key }}
              </div>
              <div class="item-data item-value">
                <span>VALUE:</span>
                <span v-show class="blur-data cursor-point">
                  {{ item.value }}
                </span>
              </div>
            </div>
          </div>
          </div>
          <div class="items-container mt-md" v-else> loading... </div>
        </div>
      </div>
    `,
    data() {
      return {
        loaded: false,
        active: true,
        keyFilter: ''
      }
    },
    async mounted() {
      await this.getItems()
      this.loaded = true
    },
    computed: {
      filteredItems() {
        return this.keyFilter ?
          this.items.filter(item => item.key.toLowerCase()
          .includes(this.keyFilter.toLowerCase())) : this.items
      },
      ...mapState(['items']),
    },
    methods: {
      ...mapActions(['getItems'])
    },
    directives: {
      show: {
        /**
        * Adds mouse event listeners to bound DOM element
        * to add/remove blur-data class
        */
        inserted: function (el, binding, vnode) {
          el.addEventListener('mousedown', e => {
            el.classList.remove('blur-data')
          })
          el.addEventListener('mouseup', e => {
            el.classList.add('blur-data')
          })
          el.addEventListener('mouseout', e => {
            el.classList.add('blur-data')
          })
        }
      }
    }
  })
  const vueApp = new Vue({
    el: '#vapp',
    store
  })
  </script>
  </body>
  </html>
